*.orig
.DS_Store
docs/
.idea/
generated/

/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
/.codeintel

/app/code/Magento
/app/design/*/Magento
/app/etc
/app/i18n/magento
/app/*.*

/bin

!/dev/tools/frontools/config
!/dev/tools/frontools/config/*
dev/tests/*
dev/.htaccess
dev/travis
dev/tools/grunt
dev/tools/Magento
dev/tools/*.*

/lib

js/dist

/node_modules

/phpserver

/pub

/setup

/update

/var

/vendor

/*.*

!scripts.d
!config.d
!README.md
!Jenkinsfile
!phpunit.xml
!package*
!composer.json
!composer.lock
!fixnano.patch