<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <learning>
            <general>
                <enabled>1</enabled>
                <description>Learning Config Option Is Enabled</description>
            </general>
        </learning>
    </default>
</config>