<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Learning\OrderAttributes\Api\AttributeRepositoryInterface" type="\Learning\OrderAttributes\Model\AttributeRepository"/>
    <preference for="\Learning\OrderAttributes\Api\Data\AttributeInterface" type="\Learning\OrderAttributes\Model\Attribute"/>
    <preference for="\Learning\OrderAttributes\Api\AttributeDefinitionsRepositoryInterface" type="\Learning\OrderAttributes\Model\AttributeDefinitionsRepository"/>
    <preference for="\Learning\OrderAttributes\Api\Data\AttributeDefinitionsInterface" type="\Learning\OrderAttributes\Model\AttributeDefinitions"/>
    <preference for="\Learning\OrderAttributes\Api\Data\OrderExtensionAttributeInterface" type="\Learning\OrderAttributes\Model\OrderExtensionAttribute"/>
    <preference for="\Learning\OrderAttributes\Api\Data\QuoteExtensionAttributeInterface" type="\Learning\OrderAttributes\Model\QuoteExtensionAttribute"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="learning_order_attributes_grid_data_source" xsi:type="string">CustomOrderAttributesGridCollection</item>
                <item name="learning_order_attributes_form_data_source" xsi:type="string">CustomOrderAttributesGridCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="CustomOrderAttributesGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">learning_custom_order_attributes_definitions</argument>
            <argument name="resourceModel" xsi:type="string">Learning\OrderAttributes\Model\ResourceModel\AttributeDefinitions</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="Learning_OrderAttributes::save_attribute_data" type="Learning\OrderAttributes\Plugin\OrderSave"/>
    </type>
    <!--<type name="">-->
        <!--<plugin name="Learning_OrderAttributes::get_order_attributes" type="Learning\OrderAttributes\Plugin\AttributeGet"/>-->
    <!--</type>-->
</config>